@use "palette.scss";

.container {
    background: palette.$container;
    margin: 20px auto;
    width: 60vw;
    height: 70vh;
    padding: 10px;
    border: 1px solid palette.$borders;
    box-shadow: 10px 10px palette.$shadow;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
        // overflow-y: scroll;

        @media only screen and (max-width: 1080px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: 880px) {
            display: flex;
            flex-direction: column;
        }
    }
}

ul {
    list-style: none;
}

li {
    // border: 1px solid lightgrey;
    overflow-y: scroll;
    // width: 50%;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    // align-items: center;
    padding: 20px;

    & img {
        // width: 100%;
        max-width: 150px;
        padding: 20px 0;
    }
}
