@use "palette.scss";
@use "searchbar.scss";
@use "content.scss";
@use "scrollbar.scss";

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: monospace;
    background: url("./img/a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: palette.$background;
    width: 90vw;
    height: 90vh;
    margin: 5vh auto;
}

h1 {
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 20px;
    filter: drop-shadow(5px 3px 2px palette.$textShadow);
}

footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: center;
    font-size: 11px;
    padding-bottom: 10px;
    & p {
        cursor: crosshair;
        color: palette.$container;
        margin: 0 auto;
        width: 100px;
        border-top: 1px solid palette.$container;
        padding: 10px;
    }
}
